[submodule "BBCZ80-repo"]
	path = BBCZ80-repo
	url = https://github.com/PainfulDiodes/BBCZ80.git
	branch = dev
[submodule "ra8875-repo"]
	path = ra8875-repo
	url = https://github.com/PainfulDiodes/ra8875.git
